extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  a(href="/users") Users
  br
  br
  a(href="/registerUser") Register User
  br
  br
  a(href="/updateUser") Update User
  br
  br
  a(href="/deleteUser") Delete User
